/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* In src/index.css or src/App.css */
@font-face {
    font-family: 'Destine';
    src: url('src/fonts/DestinePersonalUseRegular-6YAev.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Mauline';
    src: url('src/fonts/Mauline.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'Tinos';
    src: url('src/fonts/Tinos-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'RozhaOne';
    src: url('src/fonts/RozhaOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }